body{
    background-color: bisque;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: beige;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: 'Courier New', Courier, monospace;
}
